{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="panier-style">
            <h1>Votre panier</h1>
        </div>
        {% set total = 0 %}
        
        {% for pro in panier %}
            <div class="artiste-panier">
                {{ pro.artistname }}
            </div>
            <div class="album-panier">
                {{ pro.name }}
            </div>
            <div class="price-prod-panier">
                {{ pro.price }}€
            </div>
            <div class="mini-image-panier">
                <img src="/media/{{ pro.picture }}" class="miniimageprod">
            </div>
            <br>
            {% set total = total + pro.price %}
        {% endfor %}

        <div class="afficheprix">
            <p> PRIX TOTAL : {{ total }} € </p>
        </div>
        <div class="lesboutons">
        <a href="{{ path('acceuil') }}" class="btn btn-warning" id="boutonretour">Retour sur la boutique</button>
        <br>
        <a href="/valid" class="btn btn-success" id="boutonvalidation">Valider la commande</a>
        <br>
        <a href="/clear" class="btn btn-danger" id="boutonviderpanier">Vider la panier</a>
        <br>
        
        </div>


    </div>
</div>
{% endblock %}