{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}

<div class="container">
    <div class="row">
            <div class="cardacceuil">
                {% for cat in categories %}
                <div class="divcat">
                <a href="/souscategories/{{ cat.id }}" class="acategories">
                <img src="/media/{{ cat.picture }}" class="imageacceuil"></a>
                
                </div>
{% endfor %}


        </div>
            </div>
</div>
        <div class="produitappel">
        {% for prod in enavant %}
            <div class="produitacceuil">
                <a href="/details/{{ prod.id }}" class="aproduits">
                    <div class="artistprodacceuil"> {{ prod.artistname }}
                    </div>
                        <div class="albumacceuil"> {{ prod.name }}
                        </div>
                        <img src="/media/{{ prod.picture }}" class="imagealbumprod">
                        <div class="priceprodacceuil"> {{ prod.price }}€
                        </div>
                </a>
            </div>
            {% endfor %}
        </div>



{% endblock %}