{% extends 'base.html.twig' %}

{% block title %}Subcategory index{% endblock %}

{% block body %}
    <h1>Subcategory index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Picture</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for subcategory in subcategories %}
            <tr>
                <td>{{ subcategory.id }}</td>
                <td>{{ subcategory.name }}</td>
                <td>{{ subcategory.picture }}</td>
                <td>{{ subcategory.description }}</td>
                <td>
                    <a href="{{ path('app_subcategory_show', {'id': subcategory.id}) }}">show</a>
                    <a href="{{ path('app_subcategory_edit', {'id': subcategory.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_subcategory_new') }}">Create new</a>
{% endblock %}
