{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <section>

        {% set count = 0 %}
        {% set x = 1 %}
        {% for product in products %}
            {% if (count % 4 == 0) %}
                {% set x = x + 1 %}
            {% endif %}
            {% set count = count + 1 %}
        {% endfor %}

        <div class="container">
            <div class="row">

                <div class="col-3 leslistes">
                        <div class="liste">
                            <ul>
                                {% for cat in categories %}
                                    <li>
                                        <a href="/souscategories/{{ cat.id }}"> {{ cat.name }} </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                </div>

                <div class="col-9">

                    <div class="carrouselCatalogue">
                        <div class="col-md-12">
			                {# <h2>Nos albums en promotion!</h2> #}

                            {# DEBUT CAROUSEL #}

			                <div id="myCarousel" class="carousel slide carousel-dark" data-ride="carousel" data-interval="0">

			                    <div class="carousel-inner">
				                    <div class="carousel-item active">
                                        {% for key, product in products %}
                                            {% if key == 0 %}
						                        <div class="card">
								                    <div class="img-wrapper">
									                    <img src="/media/{{ product.picture }}" class="d-block w-100" alt="">
								                    </div>
								                    <div class="card-body">
									                    <h5>{{ product.name }}</h5>
                                                        <p class="card-text">{{ product.shortLib }}</p>
									                    <p class="card-price"><span>{{ product.price }}</span></p>
									                    <a href="#" class="btn btn-primary">Add to Cart</a>
								                    </div>
						                        </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    {% for i in 1 .. (count - 1) %}
                                        <div class="carousel-item">
                                            {% for key, product in products %}
                                                {% if key == i %}
						                            <div class="card">
								                        <div class="img-wrapper">
									                        <img src="{{ product.picture }}" class="d-block w-100" alt="">
								                        </div>
								                        <div class="card-body">
									                        <h5>{{ product.name }}</h5>
                                                            <p class="card-text">{{ product.shortLib }}</p>
									                        <p class="card-price"><span>{{ product.price }}</span></p>
									                        <a href="#" class="btn btn-primary">Add to Cart</a>
								                        </div>
						                            </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                </div>

                                <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>

                            </div>

                            {# FIN CAROUSEL #}

						</div>		
                    </div>
                </div>
            </div>
        </div>

    </section>

{% endblock %}

{% block javascripts %}

    <script>

        var multipleCardCarousel = document.querySelector(
            "#carouselExampleControls"
        );
        if (window.matchMedia("(min-width: 768px)").matches) {
            var carousel = new bootstrap.Carousel(multipleCardCarousel, {
                interval: false,
            });
            var carouselWidth = $(".carousel-inner")[0].scrollWidth;
            var cardWidth = $(".carousel-item").width();
            var scrollPosition = 0;
            $("#carouselExampleControls .carousel-control-next").on("click", function () {
                if (scrollPosition < carouselWidth - cardWidth * 4) {
                    scrollPosition += cardWidth;
                    $("#carouselExampleControls .carousel-inner").animate(
                        { scrollLeft: scrollPosition },
                        600
                        );
                    }
                });
            $("#carouselExampleControls .carousel-control-prev").on("click", function () {
                if (scrollPosition > 0) {
                    scrollPosition -= cardWidth;
                    $("#carouselExampleControls .carousel-inner").animate(
                        { scrollLeft: scrollPosition },
                        600
                        );
                    }
                });
        } else {
            $(multipleCardCarousel).addClass("slide");
        }

    </script>

{% endblock %}
