{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1></h1>

        <div>
            {{ produit.name }}
        </div>
        <div>
            {{ produit.longLib }}
        </div>
        <div>
            <img src="/media/{{ produit.picture }}" />
        </div>
        <div class="price">
        {{ produit.price }}
        </div>
        <button class="button-sm"><a href="/add/{{produit.id}}">ajouter au panier</a></button>
    </div>
</div>

{% endblock %}