{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="artist-namestyle">
            {{ produit.artistname}}
        </div>
        <div class="produit-namestyle">
            {{ produit.name }}
        </div>
        <div class="image-style">
            <img src="/media/{{ produit.picture }}" />
        </div>
        <div class="price-style">
        {{ produit.price }}€
        </div>
        <div class="button-style">
        <button class="button-sm"><a href="/add/{{produit.id}}">ajouter au panier</a></button>
        </div>
    </div>
</div>

{% endblock %}