{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    {# liste = nom de la variable dans le controleur #}

    {% for item in liste %}
    
    <div class="container">
        <div class="row">
            <div class="div-produit">
                <div class="titre-produit"> {{ item.name }}
                </div>
                <div class="image-produit">
                <img src="/media/{{ item.picture }}" alt="" height="300px" width="auto">
                </div>
                <div class="lien-produit">
                    <a href="/details/{{ item.id }}"> {{ item.name }} </a>
                </div>
                <div class="soustitre-produit"> {{ item.longlib }}
                </div>
                <div class="prix-produit"> {{ item.price }}
                </div>
                <div class="annee-produit"> {{ item.shortlib }}
                </div>
            </div>
        </div>
    </div>

    {% endfor %}

{% endblock %}