{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    {# liste = nom de la variable dans le controleur #}

    
    <div class="container">
        <div class="row">

    {% for item in liste %}
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
            <div class="div-produit">
                <div class="titre-artiste"> {{ item.artistname }}
                </div>
                <div class="image-produit">
                <img src="/media/{{ item.picture }}" alt="" class="img-fluid">
                </div>
                <div class="lien-produit">
                    <a href="/details/{{ item.id }}"> {{ item.name }} </a>
                </div>
                <div class="soustitre-produit"> {{ item.longlib }}
                </div>
                <div class="prix-produit"> {{ item.price }}€
                </div>
                <div class="annee-produit"> {{ item.shortlib }}
                </div>
            </div>
        </div>

    {% endfor %}

        </div>
    </div>


{% endblock %}